.flex-card-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 45%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  background: white;
  display: flex;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 10px;
}

.category-title {
  margin-left: 2.5%;
}

.background-gray {
  background: lightgray;
  padding: 20px;
}

.collection-flex {
  flex: 2;
}

.card-image {
  align-self: flex-end;
  flex: 1;
}

.img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.margin-left {
  margin-left: 5px;
}

.logo {
  height: 100px;
  width: 200px;
  object-fit: cover;
}

.flex-items {
  display: flex;
}

.flex-2-header {
  flex: 2;
}

.flex-1-header {
  flex: 1;
  display: flex;
  justify-content: center;
}

.bg-image {
  background-image: url("https://f.roocdn.com/images/menus/17697/header-image.jpg");
  height: 150px;
  width: 300px;
  background-size: cover;
}

.collection-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-green {
  color: green;
}

.btn-validate {
  width: 100%;
  background: aquamarine;
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.display-flex-items-basket {
  display: flex;
}

.flex-start-items {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.flex-end-items {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basket {
  margin-top: 20px;
  width: 70%;
  border: 1px solid grey;
  background: white;
  padding: 10px;
}

.flex-basket {
  display: flex;
  justify-content: center;
}

.font-bold {
  font-weight: bold;
}

.flex-items-basket-space-between {
  display: flex;
  justify-content: space-between;
}

.margin-top {
  margin-top: 10px;
}

.flex-icons-start {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.flex-center-title {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  width: 75%;
}

.circle {
  border: 1px solid blue;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
