.container {
  width: 80%;
  margin: 0 auto;
}

.flex-items {
  display: flex;
}

.flex-left {
  flex: 2;
  margin-top: 15px;
}

.flex-right {
  flex: 1;
  background: lightgrey;
  margin-top: 15px;
}

.main-img {
  object-fit: cover;
}

.flex-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-white {
  background: white;
}

body {
  background: lightgrey;
}
